@font-face {
    font-family: Quicksand;
    src: url("./fonts/quicksand/static/Quicksand-Regular.ttf");
}

@font-face {
    font-family: Quicksand-Bold;
    src: url("./fonts/quicksand/static/Quicksand-Bold.ttf");
}

@font-face {
    font-family: Montserrat;
    src: url("./fonts/montserrat/static/Montserrat-Regular.ttf");
}

@font-face {
    font-family: Mont-thin;
    src: url("./fonts/montserrat/static/Montserrat-Thin.ttf");
}

* {
    font-family: Quicksand;

}

body {
    box-sizing: border-box;
    border: none;
    width: 100%;
}

strong {
    font-family: Quicksand-Bold;
}

header {
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0px;
    left: 0px;
    display: inline-block;
    z-index: 10;
    background-color: silver;
}

header h1 {
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 75px;
    font-family: Mont-thin;
    z-index: 9;
    top:0px;
}
